---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import HomeSection from "../components/HomeSection";
---

<Layout>
  <Header client:load/>
  <div class="bg-gradient-to-r from-[#010919] via-[#010919] to-[#000000]">
    <HomeSection client:only/>
  </div>
</Layout>
